version: "3.3"
services:
  db:
    image: 'postgres:13.3'
    container_name: db
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "1"
      POSTGRES_DB: "data"
    ports:
      - "5432:5432"
  app:
    build: ./
    container_name: app
    ports:
      - "8090:8090"
    depends_on:
      - db